# Apply Cleaning logic on Bats man dataset which is downloaded from Kaggel

In [5]:
import numpy as np
import pandas as pd

# Read Batsman dataset

In [6]:
df1=pd.read_csv(r"C:\Users\navee\Downloads\Batsman_Data.csv\Batsman_Data.csv")

# Print Batsman dataset

In [7]:
df1

,Unnamed: 0,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman,Player_ID
0,1,DNB,-,-,-,-,-,v India,Nagpur,18 Dec 2009,ODI # 2933,Oshane Thomas,49619
1,2,DNB,-,-,-,-,-,v India,Kolkata,24 Dec 2009,ODI # 2935,Oshane Thomas,49619
2,3,DNB,-,-,-,-,-,v India,Delhi,27 Dec 2009,ODI # 2936,Oshane Thomas,49619
3,4,DNB,-,-,-,-,-,v Bangladesh,Dhaka,4 Jan 2010,ODI # 2937,Oshane Thomas,49619
4,5,DNB,-,-,-,-,-,v India,Dhaka,5 Jan 2010,ODI # 2938,Oshane Thomas,49619
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11144,11145,46,46,61,75.40,6,1,v Ireland,Dehradun,28 Feb 2019,ODI # 4100,Gulbadin Naib,352048
11145,11146,3,3,6,50.00,0,0,v Ireland,Dehradun,2 Mar 2019,ODI # 4101,Gulbadin Naib,352048
11146,11147,1,1,8,12.50,0,0,v Ireland,Dehradun,8 Mar 2019,ODI # 4108,Gulbadin Naib,352048
11147,11148,DNB,-,-,-,-,-,v Scotland,Edinburgh,10 May 2019,ODI # 4131,Gulbadin Naib,352048
11148,11149,TDNB,-,-,-,-,-,v Ireland,Belfast,19 May 2019,ODI # 4139,Gulbadin Naib,352048

# Apply cleaning logic on Bats man dataset

In [8]:
col1 = ["Bat1"]
df1[col1] = df1[col1].apply(lambda x:x.str.strip("absent"))
print(df1)

       Unnamed: 0  Bat1 Runs  BF     SR 4s 6s    Opposition     Ground  \
0               1   DNB    -   -      -  -  -       v India     Nagpur
1               2   DNB    -   -      -  -  -       v India    Kolkata
2               3   DNB    -   -      -  -  -       v India      Delhi
3               4   DNB    -   -      -  -  -  v Bangladesh      Dhaka
4               5   DNB    -   -      -  -  -       v India      Dhaka
...           ...   ...  ...  ..    ... .. ..           ...        ...
11144       11145    46   46  61  75.40  6  1     v Ireland   Dehradun
11145       11146     3    3   6  50.00  0  0     v Ireland   Dehradun
11146       11147     1    1   8  12.50  0  0     v Ireland   Dehradun
11147       11148   DNB    -   -      -  -  -    v Scotland  Edinburgh
11148       11149  TDNB    -   -      -  -  -     v Ireland    Belfast

        Start Date    Match_ID         Batsman  Player_ID
0      18 Dec 2009  ODI # 2933   Oshane Thomas      49619
1      24 Dec 2009  ODI # 2935   Oshane Thomas      49619
2      27 Dec 2009  ODI # 2936   Oshane Thomas      49619
3       4 Jan 2010  ODI # 2937   Oshane Thomas      49619
4       5 Jan 2010  ODI # 2938   Oshane Thomas      49619
...            ...         ...             ...        ...
11144  28 Feb 2019  ODI # 4100  Gulbadin Naib      352048
11145   2 Mar 2019  ODI # 4101  Gulbadin Naib      352048
11146   8 Mar 2019  ODI # 4108  Gulbadin Naib      352048
11147  10 May 2019  ODI # 4131  Gulbadin Naib      352048
11148  19 May 2019  ODI # 4139  Gulbadin Naib      352048

[11149 rows x 13 columns]

In [9]:
col1 = ["Bat1"]
df1[col1] = df1[col1].apply(lambda x:x.str.strip("DNB"))
print(df1)

       Unnamed: 0 Bat1 Runs  BF     SR 4s 6s    Opposition     Ground  \
0               1         -   -      -  -  -       v India     Nagpur
1               2         -   -      -  -  -       v India    Kolkata
2               3         -   -      -  -  -       v India      Delhi
3               4         -   -      -  -  -  v Bangladesh      Dhaka
4               5         -   -      -  -  -       v India      Dhaka
...           ...  ...  ...  ..    ... .. ..           ...        ...
11144       11145   46   46  61  75.40  6  1     v Ireland   Dehradun
11145       11146    3    3   6  50.00  0  0     v Ireland   Dehradun
11146       11147    1    1   8  12.50  0  0     v Ireland   Dehradun
11147       11148         -   -      -  -  -    v Scotland  Edinburgh
11148       11149    T    -   -      -  -  -     v Ireland    Belfast

        Start Date    Match_ID         Batsman  Player_ID
0      18 Dec 2009  ODI # 2933   Oshane Thomas      49619
1      24 Dec 2009  ODI # 2935   Oshane Thomas      49619
2      27 Dec 2009  ODI # 2936   Oshane Thomas      49619
3       4 Jan 2010  ODI # 2937   Oshane Thomas      49619
4       5 Jan 2010  ODI # 2938   Oshane Thomas      49619
...            ...         ...             ...        ...
11144  28 Feb 2019  ODI # 4100  Gulbadin Naib      352048
11145   2 Mar 2019  ODI # 4101  Gulbadin Naib      352048
11146   8 Mar 2019  ODI # 4108  Gulbadin Naib      352048
11147  10 May 2019  ODI # 4131  Gulbadin Naib      352048
11148  19 May 2019  ODI # 4139  Gulbadin Naib      352048

[11149 rows x 13 columns]

In [10]:
col1 = ["Bat1"]
df1[col1] = df1[col1].apply(lambda x:x.str.strip("sub"))
print(df1)

       Unnamed: 0 Bat1 Runs  BF     SR 4s 6s    Opposition     Ground  \
0               1         -   -      -  -  -       v India     Nagpur
1               2         -   -      -  -  -       v India    Kolkata
2               3         -   -      -  -  -       v India      Delhi
3               4         -   -      -  -  -  v Bangladesh      Dhaka
4               5         -   -      -  -  -       v India      Dhaka
...           ...  ...  ...  ..    ... .. ..           ...        ...
11144       11145   46   46  61  75.40  6  1     v Ireland   Dehradun
11145       11146    3    3   6  50.00  0  0     v Ireland   Dehradun
11146       11147    1    1   8  12.50  0  0     v Ireland   Dehradun
11147       11148         -   -      -  -  -    v Scotland  Edinburgh
11148       11149    T    -   -      -  -  -     v Ireland    Belfast

        Start Date    Match_ID         Batsman  Player_ID
0      18 Dec 2009  ODI # 2933   Oshane Thomas      49619
1      24 Dec 2009  ODI # 2935   Oshane Thomas      49619
2      27 Dec 2009  ODI # 2936   Oshane Thomas      49619
3       4 Jan 2010  ODI # 2937   Oshane Thomas      49619
4       5 Jan 2010  ODI # 2938   Oshane Thomas      49619
...            ...         ...             ...        ...
11144  28 Feb 2019  ODI # 4100  Gulbadin Naib      352048
11145   2 Mar 2019  ODI # 4101  Gulbadin Naib      352048
11146   8 Mar 2019  ODI # 4108  Gulbadin Naib      352048
11147  10 May 2019  ODI # 4131  Gulbadin Naib      352048
11148  19 May 2019  ODI # 4139  Gulbadin Naib      352048

[11149 rows x 13 columns]

In [11]:
col1 = ["Bat1"]
df1[col1] = df1[col1].apply(lambda x:x.str.strip("TDNB"))
print(df1)

       Unnamed: 0 Bat1 Runs  BF     SR 4s 6s    Opposition     Ground  \
0               1         -   -      -  -  -       v India     Nagpur
1               2         -   -      -  -  -       v India    Kolkata
2               3         -   -      -  -  -       v India      Delhi
3               4         -   -      -  -  -  v Bangladesh      Dhaka
4               5         -   -      -  -  -       v India      Dhaka
...           ...  ...  ...  ..    ... .. ..           ...        ...
11144       11145   46   46  61  75.40  6  1     v Ireland   Dehradun
11145       11146    3    3   6  50.00  0  0     v Ireland   Dehradun
11146       11147    1    1   8  12.50  0  0     v Ireland   Dehradun
11147       11148         -   -      -  -  -    v Scotland  Edinburgh
11148       11149         -   -      -  -  -     v Ireland    Belfast

        Start Date    Match_ID         Batsman  Player_ID
0      18 Dec 2009  ODI # 2933   Oshane Thomas      49619
1      24 Dec 2009  ODI # 2935   Oshane Thomas      49619
2      27 Dec 2009  ODI # 2936   Oshane Thomas      49619
3       4 Jan 2010  ODI # 2937   Oshane Thomas      49619
4       5 Jan 2010  ODI # 2938   Oshane Thomas      49619
...            ...         ...             ...        ...
11144  28 Feb 2019  ODI # 4100  Gulbadin Naib      352048
11145   2 Mar 2019  ODI # 4101  Gulbadin Naib      352048
11146   8 Mar 2019  ODI # 4108  Gulbadin Naib      352048
11147  10 May 2019  ODI # 4131  Gulbadin Naib      352048
11148  19 May 2019  ODI # 4139  Gulbadin Naib      352048

[11149 rows x 13 columns]

In [12]:
col1 = ["Runs","BF","SR","4s","6s"]
df1[col1] = df1[col1].apply(lambda x:x.str.strip("-"))
print(df1)

       Unnamed: 0 Bat1 Runs  BF     SR 4s 6s    Opposition     Ground  \
0               1                                  v India     Nagpur
1               2                                  v India    Kolkata
2               3                                  v India      Delhi
3               4                             v Bangladesh      Dhaka
4               5                                  v India      Dhaka
...           ...  ...  ...  ..    ... .. ..           ...        ...
11144       11145   46   46  61  75.40  6  1     v Ireland   Dehradun
11145       11146    3    3   6  50.00  0  0     v Ireland   Dehradun
11146       11147    1    1   8  12.50  0  0     v Ireland   Dehradun
11147       11148                               v Scotland  Edinburgh
11148       11149                                v Ireland    Belfast

        Start Date    Match_ID         Batsman  Player_ID
0      18 Dec 2009  ODI # 2933   Oshane Thomas      49619
1      24 Dec 2009  ODI # 2935   Oshane Thomas      49619
2      27 Dec 2009  ODI # 2936   Oshane Thomas      49619
3       4 Jan 2010  ODI # 2937   Oshane Thomas      49619
4       5 Jan 2010  ODI # 2938   Oshane Thomas      49619
...            ...         ...             ...        ...
11144  28 Feb 2019  ODI # 4100  Gulbadin Naib      352048
11145   2 Mar 2019  ODI # 4101  Gulbadin Naib      352048
11146   8 Mar 2019  ODI # 4108  Gulbadin Naib      352048
11147  10 May 2019  ODI # 4131  Gulbadin Naib      352048
11148  19 May 2019  ODI # 4139  Gulbadin Naib      352048

[11149 rows x 13 columns]

In [13]:
df3 = df1["Bat1"]==''
df3 = df1[~df3]
print(df3)

       Unnamed: 0 Bat1 Runs  BF     SR 4s 6s    Opposition       Ground  \
5               6   0*    0   8   0.00  0  0       v India        Dhaka
6               7   0*    0   0         0  0     v England     The Oval
9              10   1*    1   3  33.33  0  0     v England   Nottingham
10             11   0*    0   2   0.00  0  0   v Australia    Pallekele
11             12    0    0   2   0.00  0  0    v Pakistan  Dubai (DSC)
...           ...  ...  ...  ..    ... .. ..           ...          ...
11142       11143   0*    0   2   0.00  0  0  v Bangladesh    Abu Dhabi
11143       11144   15   15  46  32.60  1  0       v India  Dubai (DSC)
11144       11145   46   46  61  75.40  6  1     v Ireland     Dehradun
11145       11146    3    3   6  50.00  0  0     v Ireland     Dehradun
11146       11147    1    1   8  12.50  0  0     v Ireland     Dehradun

        Start Date    Match_ID         Batsman  Player_ID
5      10 Jan 2010  ODI # 2941   Oshane Thomas      49619
6      28 Jun 2011  ODI # 3165   Oshane Thomas      49619
9       6 Jul 2011  ODI # 3169   Oshane Thomas      49619
10     10 Aug 2011  ODI # 3175   Oshane Thomas      49619
11     11 Nov 2011  ODI # 3212   Oshane Thomas      49619
...            ...         ...             ...        ...
11142  23 Sep 2018  ODI # 4045  Gulbadin Naib      352048
11143  25 Sep 2018  ODI # 4046  Gulbadin Naib      352048
11144  28 Feb 2019  ODI # 4100  Gulbadin Naib      352048
11145   2 Mar 2019  ODI # 4101  Gulbadin Naib      352048
11146   8 Mar 2019  ODI # 4108  Gulbadin Naib      352048

[8918 rows x 13 columns]

# Final cleaned Batsman dataset

In [18]:
df3.to_csv(r"C:\Users\navee\Downloads\Batsman_data.csv\Batsman_data_clean.csv",encoding ='utf-8')