# Apply Cleaning logic on Bowler dataset downloaded from Kaggle

In [6]:
import numpy as np
import pandas as pd

# Read Bowler dataset and Print

In [8]:
df=pd.read_csv(r"C:\Users\navee\Downloads\Bowler_data.csv\Bowler_data.csv")
print(df)

       Unnamed: 0 Overs Mdns Runs Wkts   Econ    Ave    SR    Opposition  \
0               1   8.0    0   57    0   7.12      -     -       v India
1               2  10.0    0   55    2   5.50  27.50  30.0       v India
2               3     -    -    -    -      -      -     -       v India
3               4   9.0    1   63    2   7.00  31.50  27.0  v Bangladesh
4               5   8.0    1   48    0   6.00      -     -       v India
...           ...   ...  ...  ...  ...    ...    ...   ...           ...
11113       11114   4.0    0   41    0  10.25      -     -       v India
11114       11115   7.2    0   20    2   2.72  10.00  22.0     v Ireland
11115       11116     -    -    -    -      -      -     -     v Ireland
11116       11117   6.0    0   21    1   3.50  21.00  36.0     v Ireland
11117       11118  10.0    0   72    3   7.20  24.00  20.0    v Scotland

            Ground   Start Date    Match_ID          Bowler  Player_ID
0           Nagpur  18 Dec 2009  ODI # 2933  Suranga Lakmal      49619
1          Kolkata  24 Dec 2009  ODI # 2935  Suranga Lakmal      49619
2            Delhi  27 Dec 2009  ODI # 2936  Suranga Lakmal      49619
3            Dhaka   4 Jan 2010  ODI # 2937  Suranga Lakmal      49619
4            Dhaka   5 Jan 2010  ODI # 2938  Suranga Lakmal      49619
...            ...          ...         ...             ...        ...
11113  Dubai (DSC)  25 Sep 2018  ODI # 4046  Gulbadin Naib      352048
11114     Dehradun  28 Feb 2019  ODI # 4100  Gulbadin Naib      352048
11115     Dehradun   2 Mar 2019  ODI # 4101  Gulbadin Naib      352048
11116     Dehradun   8 Mar 2019  ODI # 4108  Gulbadin Naib      352048
11117    Edinburgh  10 May 2019  ODI # 4131  Gulbadin Naib      352048

[11118 rows x 14 columns]

In [9]:
df1=pd.read_csv(r"C:\Users\navee\Downloads\Batsman_Data.csv\Batsman_Data.csv")

In [10]:
df1

,Unnamed: 0,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman,Player_ID
0,1,DNB,-,-,-,-,-,v India,Nagpur,18 Dec 2009,ODI # 2933,Oshane Thomas,49619
1,2,DNB,-,-,-,-,-,v India,Kolkata,24 Dec 2009,ODI # 2935,Oshane Thomas,49619
2,3,DNB,-,-,-,-,-,v India,Delhi,27 Dec 2009,ODI # 2936,Oshane Thomas,49619
3,4,DNB,-,-,-,-,-,v Bangladesh,Dhaka,4 Jan 2010,ODI # 2937,Oshane Thomas,49619
4,5,DNB,-,-,-,-,-,v India,Dhaka,5 Jan 2010,ODI # 2938,Oshane Thomas,49619
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11144,11145,46,46,61,75.40,6,1,v Ireland,Dehradun,28 Feb 2019,ODI # 4100,Gulbadin Naib,352048
11145,11146,3,3,6,50.00,0,0,v Ireland,Dehradun,2 Mar 2019,ODI # 4101,Gulbadin Naib,352048
11146,11147,1,1,8,12.50,0,0,v Ireland,Dehradun,8 Mar 2019,ODI # 4108,Gulbadin Naib,352048
11147,11148,DNB,-,-,-,-,-,v Scotland,Edinburgh,10 May 2019,ODI # 4131,Gulbadin Naib,352048
11148,11149,TDNB,-,-,-,-,-,v Ireland,Belfast,19 May 2019,ODI # 4139,Gulbadin Naib,352048

# Drop average Average and SR

In [11]:
df.drop(['Ave', 'SR'], axis=1, inplace=True)
print(df)

       Unnamed: 0 Overs Mdns Runs Wkts   Econ    Opposition       Ground  \
0               1   8.0    0   57    0   7.12       v India       Nagpur
1               2  10.0    0   55    2   5.50       v India      Kolkata
2               3     -    -    -    -      -       v India        Delhi
3               4   9.0    1   63    2   7.00  v Bangladesh        Dhaka
4               5   8.0    1   48    0   6.00       v India        Dhaka
...           ...   ...  ...  ...  ...    ...           ...          ...
11113       11114   4.0    0   41    0  10.25       v India  Dubai (DSC)
11114       11115   7.2    0   20    2   2.72     v Ireland     Dehradun
11115       11116     -    -    -    -      -     v Ireland     Dehradun
11116       11117   6.0    0   21    1   3.50     v Ireland     Dehradun
11117       11118  10.0    0   72    3   7.20    v Scotland    Edinburgh

        Start Date    Match_ID          Bowler  Player_ID
0      18 Dec 2009  ODI # 2933  Suranga Lakmal      49619
1      24 Dec 2009  ODI # 2935  Suranga Lakmal      49619
2      27 Dec 2009  ODI # 2936  Suranga Lakmal      49619
3       4 Jan 2010  ODI # 2937  Suranga Lakmal      49619
4       5 Jan 2010  ODI # 2938  Suranga Lakmal      49619
...            ...         ...             ...        ...
11113  25 Sep 2018  ODI # 4046  Gulbadin Naib      352048
11114  28 Feb 2019  ODI # 4100  Gulbadin Naib      352048
11115   2 Mar 2019  ODI # 4101  Gulbadin Naib      352048
11116   8 Mar 2019  ODI # 4108  Gulbadin Naib      352048
11117  10 May 2019  ODI # 4131  Gulbadin Naib      352048

[11118 rows x 12 columns]

# Apply clean logc on Bowler dataset

In [12]:
df["Overs"] = df["Overs"].str.strip("-")
df["Mdns"] = df["Mdns"].str.strip("-")
df["Runs"] = df["Runs"].str.strip("-")
df["Wkts"] = df["Wkts"].str.strip("-")
df["Econ"] = df["Econ"].str.strip("-")
df

,Unnamed: 0,Overs,Mdns,Runs,Wkts,Econ,Opposition,Ground,Start Date,Match_ID,Bowler,Player_ID
0,1,8.0,0,57,0,7.12,v India,Nagpur,18 Dec 2009,ODI # 2933,Suranga Lakmal,49619
1,2,10.0,0,55,2,5.50,v India,Kolkata,24 Dec 2009,ODI # 2935,Suranga Lakmal,49619
2,3,,,,,,v India,Delhi,27 Dec 2009,ODI # 2936,Suranga Lakmal,49619
3,4,9.0,1,63,2,7.00,v Bangladesh,Dhaka,4 Jan 2010,ODI # 2937,Suranga Lakmal,49619
4,5,8.0,1,48,0,6.00,v India,Dhaka,5 Jan 2010,ODI # 2938,Suranga Lakmal,49619
...,...,...,...,...,...,...,...,...,...,...,...,...
11113,11114,4.0,0,41,0,10.25,v India,Dubai (DSC),25 Sep 2018,ODI # 4046,Gulbadin Naib,352048
11114,11115,7.2,0,20,2,2.72,v Ireland,Dehradun,28 Feb 2019,ODI # 4100,Gulbadin Naib,352048
11115,11116,,,,,,v Ireland,Dehradun,2 Mar 2019,ODI # 4101,Gulbadin Naib,352048
11116,11117,6.0,0,21,1,3.50,v Ireland,Dehradun,8 Mar 2019,ODI # 4108,Gulbadin Naib,352048
11117,11118,10.0,0,72,3,7.20,v Scotland,Edinburgh,10 May 2019,ODI # 4131,Gulbadin Naib,352048

In [15]:
df["Overs"] = df["Overs"].str.strip()
df["Mdns"] = df["Mdns"].str.strip()
df["Runs"] = df["Runs"].str.strip()
df["Wkts"] = df["Wkts"].str.strip()
df["Econ"] = df["Econ"].str.strip()
df

,Unnamed: 0,Overs,Mdns,Runs,Wkts,Econ,Opposition,Ground,Start Date,Match_ID,Bowler,Player_ID
0,1,8.0,0,57,0,7.12,v India,Nagpur,18 Dec 2009,ODI # 2933,Suranga Lakmal,49619
1,2,10.0,0,55,2,5.50,v India,Kolkata,24 Dec 2009,ODI # 2935,Suranga Lakmal,49619
2,3,,,,,,v India,Delhi,27 Dec 2009,ODI # 2936,Suranga Lakmal,49619
3,4,9.0,1,63,2,7.00,v Bangladesh,Dhaka,4 Jan 2010,ODI # 2937,Suranga Lakmal,49619
4,5,8.0,1,48,0,6.00,v India,Dhaka,5 Jan 2010,ODI # 2938,Suranga Lakmal,49619
...,...,...,...,...,...,...,...,...,...,...,...,...
11113,11114,4.0,0,41,0,10.25,v India,Dubai (DSC),25 Sep 2018,ODI # 4046,Gulbadin Naib,352048
11114,11115,7.2,0,20,2,2.72,v Ireland,Dehradun,28 Feb 2019,ODI # 4100,Gulbadin Naib,352048
11115,11116,,,,,,v Ireland,Dehradun,2 Mar 2019,ODI # 4101,Gulbadin Naib,352048
11116,11117,6.0,0,21,1,3.50,v Ireland,Dehradun,8 Mar 2019,ODI # 4108,Gulbadin Naib,352048
11117,11118,10.0,0,72,3,7.20,v Scotland,Edinburgh,10 May 2019,ODI # 4131,Gulbadin Naib,352048

In [16]:
df2=df["Overs"]==''
df2=df[~df2]
print(df2)

       Unnamed: 0 Overs Mdns Runs Wkts   Econ    Opposition       Ground  \
0               1   8.0    0   57    0   7.12       v India       Nagpur
1               2  10.0    0   55    2   5.50       v India      Kolkata
3               4   9.0    1   63    2   7.00  v Bangladesh        Dhaka
4               5   8.0    1   48    0   6.00       v India        Dhaka
5               6  10.0    0   75    0   7.50       v India        Dhaka
...           ...   ...  ...  ...  ...    ...           ...          ...
11112       11113   9.0    0   58    0   6.44  v Bangladesh    Abu Dhabi
11113       11114   4.0    0   41    0  10.25       v India  Dubai (DSC)
11114       11115   7.2    0   20    2   2.72     v Ireland     Dehradun
11116       11117   6.0    0   21    1   3.50     v Ireland     Dehradun
11117       11118  10.0    0   72    3   7.20    v Scotland    Edinburgh

        Start Date    Match_ID          Bowler  Player_ID
0      18 Dec 2009  ODI # 2933  Suranga Lakmal      49619
1      24 Dec 2009  ODI # 2935  Suranga Lakmal      49619
3       4 Jan 2010  ODI # 2937  Suranga Lakmal      49619
4       5 Jan 2010  ODI # 2938  Suranga Lakmal      49619
5      10 Jan 2010  ODI # 2941  Suranga Lakmal      49619
...            ...         ...             ...        ...
11112  23 Sep 2018  ODI # 4045  Gulbadin Naib      352048
11113  25 Sep 2018  ODI # 4046  Gulbadin Naib      352048
11114  28 Feb 2019  ODI # 4100  Gulbadin Naib      352048
11116   8 Mar 2019  ODI # 4108  Gulbadin Naib      352048
11117  10 May 2019  ODI # 4131  Gulbadin Naib      352048

[5848 rows x 12 columns]

# Write a cleaned Bowler dataset

In [27]:
df2.to_csv(r"C:\Users\navee\Downloads\Bowler_data.csv\Bowler_data_clean.csv",encoding ='utf-8')